.filter{
    margin-bottom: 42px;   
}

.filter_block{
    display: inline-flex;
    align-items: center;
}


.select_text{
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    margin-right: 20px;


    color: #2E282C;
}

select{
    padding: 9px 51px 8px 22px;
    margin-right: 20px;
    appearance: none;

    background: url('./../../../static/icons/Vector.svg') no-repeat right; 
    background-position-x: calc(100% - 11px);

    border: 1px solid #444444;
    border-radius: 6px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;  

    color: #2E282C;
}

.favorites_checkbox{
    border: 1px solid #444444;
    color: #2E282C;
    width: 30px;
    height: 30px;
}